name: Cross Build and Remote Run

on:
  push:
    branches: [ main ]

jobs:
  # 任务 1：在云端编译
  build:
    runs-on: ubuntu-latest
    outputs:
      artifact-name: monitor-binaries
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Cross Build
        run: |
          GOOS=linux GOARCH=arm64 go build -o orangepi-monitor .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: monitor-binaries
          path: |
            orangepi-monitor
            index.html

  # 任务 2：在板子上下载并运行
  deploy:
    needs: build
    runs-on: self-hosted # 你的板子在这里领命
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: monitor-binaries
      - name: Restart Service
        run: |
          chmod +x orangepi-monitor
          # 告诉系统：代码更新了，请帮我重启服务
          sudo systemctl restart op-monitor